#!/usr/bin/env zsh

alias vim="lvim"
alias nvim="lvim"
alias vi="lvim"
alias ls="exa --icons"
alias bat="bat --color=auto"
alias cat="bat"
alias open="nautilus"
alias reader="zathura --fork"
alias lg="lazygit"
alias python="python3"
alias g="git"
alias k="kubectl"
