# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = MSBarbieri
	email = matheussouzabarbieri@gmail.com

[pager]
  branch = false

[core]
  editor = vim

[color]
  ui = auto

[commit]
  verbose = true

[column]
  ui = auto

[pull]
  rebase = true

[init]
  defaultBranch = main
